<%= render "shared/header" %>

<div class='form-header'>
  <h2 class='form-header-text'><%= @nickname %>さんの投稿一覧</h2>
</div>
<% @posts.each do |post| %>
<div class='post-list'>
  <div class='post-top'>
    <div class='post-game-mode'>
      <%= link_to post_path(post.id), class:"game-mode-text" do %>
        <%= post.game_mode.name %>
      <% end %>
    </div>
  </div>
  <div class='post-bottom'>
    <div class='post-content'>
      <%= link_to post_path(post.id), class:"post-content-text" do %>
        <%= post.content %>
      <% end %>
    </div>
    <div class='post-datetime'>
      投稿日：<%= post.created_at.strftime("%Y/%m/%d %H:%M") %>
    </div>
  </div>
</div>
<% end %>