<%= render "shared/header" %>

<div class='main'>
  <div class='image-container'>
    <%= image_tag "Beta Key Art_VALORANT.jpg", class:"image" %>
    <div class='caption'>共に戦う仲間を見つけよう！</div>
    <div class='container-btn'>
      <% unless current_user %>
        <%= link_to "/users/sign_in", class:"sign-in-btn" do %>
          <span class='btn-text'>ログイン</span>
        <% end %>
        <%= link_to "/users/sign_up", class:"sign-up-btn" do %>
          <span class='btn-text'>新規登録</span>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class='post-contents'>
    <h1 class='title'>募集一覧</h1>
    <div class='new-solicitation'>
      <%= link_to new_post_path, class:"solicitation-btn" do %>
        <span class='btn-text'>新規募集する</span>
      <% end %>
    </div>
    <div class='post-lists'>
      <% @posts.each do |post| %>
        <div class='post-list'>
          <div class='post-top'>
            <div class='post-game-mode'>
              <%= link_to post_path(post.id), class:"game-mode-text" do %>
                <%= post.game_mode.name %>
              <% end %>
            </div>
            <div class='post-user'>
              <a href="#"><%= post.user[:nickname] %></a>
            </div>
          </div>
          <div class='post-bottom'>
            <div class='post-content'>
              <%= link_to post_path(post.id), class:"post-content-text" do %>
                <%= post.content %>
              <% end %>
            </div>
            <div class='post-datetime'>
              投稿日：<%= post.created_at.strftime("%Y/%m/%d %H:%M") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>