<header>
  <div class='header-contents'>
    <div class='logo'>
      <%= link_to 'Soliciting of Agents', root_path %>
    </div>
    <div class='nav'>
      <ul class='nav-lists'>
        <li><%= link_to 'ログイン', "#", class: "nav-list" %></li>
        <li><%= link_to '新規登録', "#", class: "nav-list" %></li>
      </ul>
    </div>
  </div>
</header>

<div class='main'>
  <div class='image-container'>
    <%= image_tag "Beta Key Art_VALORANT.jpg", class:"image" %>
    <div class='caption'>共に戦う仲間を見つけよう！</div>
    <div class='container-btn'>
      <%= link_to "#", class: 'sign-in-btn' do %>
        <span class='btn-text'>ログイン</span>
      <% end %>
      <%= link_to "#", class: 'sign-up-btn' do %>
        <span class='btn-text'>新規登録</span>
      <% end %>
    </div>
  </div>

  <div class='post-contents'>
    <h1 class='title'>募集一覧</h1>
  </div>
</div>