<%= render "shared/header" %>

<div class='main'>
  <div class='image-container'>
    <%= image_tag "Beta Key Art_VALORANT.jpg", class:"image" %>
    <div class='caption'>共に戦う仲間を見つけよう！</div>
    <div class='container-btn'>
      <% unless current_user %>
        <%= link_to "/users/sign_in", class: 'sign-in-btn' do %>
          <span class='btn-text'>ログイン</span>
        <% end %>
        <%= link_to "/users/sign_up", class: 'sign-up-btn' do %>
          <span class='btn-text'>新規登録</span>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class='post-contents'>
    <h1 class='title'>募集一覧</h1>
    <%= link_to "投稿する", new_post_path, class:"post" %>
  </div>
</div>